<div id="game-results" class="bg-gray-100 p-6 rounded-lg shadow-md mb-8">
  <h2 class="text-2xl font-semibold mb-4">Fim de Jogo!</h2>
  <p class="text-lg mb-4">A palavra secreta era: <span class="font-bold text-xl"><%= game.secret_word %></span></p>
  <p class="text-lg mb-4">O Gaiato era: <span class="font-bold text-xl text-red-600"><%= game.players.find_by(is_spy: true).name %></span></p>
  <h3 class="text-xl font-medium mb-2">Resultados da Votação:</h3>
  <ul class="list-disc list-inside mb-4">
    <% game.players.group(:voted_for_player_id).count.each do |player_id, count| %>
      <% voted_player = Player.find(player_id) %>
      <li><%= voted_player.name %> recebeu <%= count %> voto(s).</li>
    <% end %>
  </ul>
  <% spy_player = game.players.find_by(is_spy: true) %>
  <% most_voted_player_id = game.players.group(:voted_for_player_id).count.max_by { |player_id, count| count }&.first %>
  <% if most_voted_player_id == spy_player.id %>
    <p class="text-2xl text-green-700 font-bold">O Gaiato foi pego! A equipe venceu!</p>
  <% else %>
    <p class="text-2xl text-red-700 font-bold">O Gaiato escapou! O Gaiato venceu!</p>
  <% end %>
  <%= link_to "Novo Jogo", root_path, class: "mt-6 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
</div>