<%
  end_game = Current.game.status == "finished"

  border_bg = case
  when end_game && player.is_spy
    "from-red-600 to-red-600"
  when player.id == Current.player&.id
    "from-primary to-primary"
  else
    "from-secondary to-accent"
  end
%>
<div id="player_<%= player.id %>" class="text-lg">
  <div class="flex items-center justify-center font-semibold w-full gap-1 relative">
    <div class="rounded-full bg-gradient-to-b <%= border_bg %> p-1 flex items-center z-20 justify-center object-center">
      <div class=" rounded-full object-cover size-16 overflow-hidden flex items-center justify-center">
        <% if end_game && player.is_spy %>
          <%= image_tag "o-gaiato.png", alt: "O gaiato" %>
        <% else %>
          <%= random_avatar_image_tag(player, alt: "Avatar") %>
        <% end %>
      </div>
    </div>
    <div class="rounded-r-full bg-gradient-to-b <%= border_bg %> p-1 flex items-center max-w-72 w-full -ml-4 z-10">
      <div class="flex items-center justify-center gap-2 bg-gradient-to-b from-base via-yellow-300 to-yellow-400 rounded-r-full px-3 py-1 w-full relative">
        <span class=" truncate max-w-36">
          <%= player.name %>
        </span>
        <div class="absolute -right-3 -top-7 flex items-center">
          <% if player.has_voted? && !end_game %>
            <small>Votou!</small>
            <svg xmlns="http://www.w3.org/2000/svg" class="inline w-6 h-6 text-accent mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
          <% end %>
          <% if player.has_voted? && end_game %>
            <small>Votou em: </small>
            <small class="font-bold"><%= player.voted_for_player.name %></small>
          <% end %>
        </div>
      </div>
    </div>
    <% if game_owner? && player.id != Current.game.owner.id && Current.game.status == "waiting" %>
      <%= button_to kick_player_game_path(Current.game.game_code, player_id: player.id), method: :post, class: "p-1 bg-red-500 text-white rounded-full hover:bg-red-600 transition mt-1 absolute -right-2 -top-2 z-30"  do %>
        <%= inline_svg_tag "boot.svg", class: "size-8" %>
      <% end %>
    <% end %>
  </div>
</div>
