<div id="player_<%= player.id %>" class="text-lg">
  <div class="flex items-center justify-center font-semibold w-full">
    <div class="rounded-full bg-gradient-to-b <%= player.id == Current.player&.id ? "from-primary to-primary" : "from-secondary to-accent" %> p-1 flex items-center z-20">
      <%= random_avatar_image_tag(player, alt: "Avatar", width: 80, height: 80, class: "rounded-full") %>
    </div>
    <div class="rounded-r-full bg-gradient-to-b <%= player.id == Current.player&.id ? "from-primary to-primary" : "from-secondary to-accent" %> p-1 flex items-center max-w-72 w-full -ml-4 z-10">
      <div class="flex items-center justify-center gap-2 bg-gradient-to-b from-base via-yellow-300 to-yellow-400 rounded-r-full px-3 py-1 w-full relative">
        <span class=" truncate max-w-36">
          <%= player.name %>
        </span>
        <div class="absolute -right-3 -top-7 flex items-center">
          <% if player.has_voted? %>
            <small>Votou!</small>
            <svg xmlns="http://www.w3.org/2000/svg" class="inline w-6 h-6 text-accent mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
          <% end %>
        </div>
      </div>
    </div>
    <% if game_owner? && player.id != Current.game.owner.id && Current.game.status == "waiting" %>
      <%= button_to 'Kick', kick_player_game_path(Current.game.game_code, player_id: player.id), method: :post, data: { confirm: 'Are you sure you want to kick this player?' }, class: "ml-2 px-3 py-1 bg-red-500 text-white rounded-full hover:bg-red-600 transition" %>
    <% end %>
  </div>
</div>
